/* Avoid img overflow */
img, svg{
  max-width: 100%;
  height: auto;
}

/* Text Alignement */
.text-center{ text-align: center; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }

/* Box Sizing */
*{
  box-sizing: border-box;
}
/* Main Container */
.container {
  width: 1170px;
  margin: 0 auto;
  @media only screen and (max-device-width: $breakpoint-small) {
    width: auto;
    margin: 0;
    padding: 0 20px;
  }

  &.is-flex {
    display: flex;
    @media only screen and (max-device-width: $breakpoint-small) {
      display: block;

      .container-column {
        width: 100%;
      }
    }
  }
}
