/* Font Family */
$font-primary : 'PT Sans', sans-serif;
$font-secondary : 'Cabin', sans-serif;

/* Colors */
$brand-blue : #09a8fa;
$brand-blue-xdark : #10316b;
$brand-orange : #f78f1e;
$brand-orange-xlight : #ffbf87;
$brand-green : #18ce0f;
$brand-grey : #403f48;
$brand-grey-xlight : #b1b0b9;
$brand-grey-xxlight : #fafafa;

/* Breakpoint */
$breakpoint-small : 640px;
