/* Site Header */
.site-header{
  background-color: $brand-blue;
  padding: 11px 0;
}

/* Site Footer */
.site-footer{
  background-color: $brand-blue-xdark;
  padding: 25px;
  text-align: center;
  &, a{
    color: #fff;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}

/* Main content - Home */
.site-home{
  .home-maintext{
    background-color: #fff;
    text-align: center;
    padding: 64px 0;
    .container{
      padding: 0 7.9%;
    }
  }

  .home-ctablock{
    background-color: $brand-grey-xxlight;
    padding: 80px 0;

    .container-column{
      width: 50%;
      text-align: center;
    }
    .boxed-text{
      width: 563px;
      margin: 0 auto;
      max-width: 100%;
    }

    .cta-title{
      font-size: 30px;
      line-height: 32px;
      color: $brand-orange;
      margin: 0;
      text-align: center;
    }
    .cta-subtitle{
      font-weight: normal;
      line-height:36px;
      font-size: 24px;
      margin: 0;
      padding-bottom: 32px;
      text-align: center;
    }
    .cta-offer{
      text-align: center;
      line-height: 50px;
      font-size: 32px;
      .bigger{
        font-size: 57.5px;
        font-weight: bold;
      }
    }
    .offer-normalprice{
      text-decoration: line-through;
      color: $brand-grey-xlight;
    }
    .cta-features{
      margin-bottom: 55px;
      padding-left: 0;
      list-style: outside none;
      .features-feature{
        padding: 16px 50px;
        border-bottom: 1px solid #dddce5;
        &:first-child{
          border-top: 1px solid #dddce5;
        }
      }
      .feature-icon{
        color: $brand-green;
        padding-right: 7px;
      }
    }
    .button{
      margin-bottom: 36px;
    }
    @media only screen and (max-device-width: $breakpoint-small){
      .container-column{
        width: 100%;
      }
      .ctablock-picture{
        width: 50%;
        margin-bottom: 32px;
      }
    }
  }

  .home-bookfeatures {
    padding: 80px 0;

    .bookfeatures-featurecolumn{
      margin-left: 30px;
      &:nth-child(3n+1){
        margin-left: 0;
      }
    }
    .featurecolumn-title {
      text-align: center;
    }

    .featurecolumn-separator {
      width: 40px;
      height: 2px;
      background-color: #cbd5da;
      margin: 0 auto 32px;
    }

    .featurecolumn-features {
      margin-bottom: 0;
      margin-top: 0;
      padding-left: 0;
    }
    .featurecolumn-feature {
      list-style-type: none;
      counter-increment: list;
      position: relative;
      padding-left: 60px;
      padding-bottom: 32px;

      &::after{
        content: counter(list);
        position: absolute;
        top:0;
        left:11px;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        width: 28px;
        height: 28px;
        line-height: 28px;
        background-color: $brand-orange-xlight;
        color: $brand-orange;
        border: 1px solid $brand-orange;
        border-radius: 15px;
      }
    }

    @media only screen and (max-device-width: $breakpoint-small){
      .bookfeatures-featurecolumn{
        margin-left: 0;
      }
    }
  }

  .home-pushes {
    padding: 96px 0 80px;
    background-color: $brand-grey-xxlight;
    .container-column{
      margin: 0 7.5px;
    }
    .push {
      text-align: center;
      padding: 0 30px 32px;
    }
    .push-title{
      line-height: 1.5;
      margin: 16px 0;
    }
    .pushes-text{
      font-size: 24px;
      line-height: 1;
      .button{
        margin-top: 32px;
      }
    }
  }

  .home-testimonials{
    background-color: #167ace;
    padding: 125px 0 80px;

    .testimonial{
      margin: 0 15px 12px;
    }
    .testimonial-author{
      text-transform: uppercase;
      color: #7e7597;
      margin-top: 16px;
    }

    @media only screen and (max-device-width: $breakpoint-small){
      .testimonial{
        margin-top: 80px;

      }
      .container-column:first-child .testimonial{
        margin-top: 0;
      }
    }
  }
}
