/* Logo */
.logo{
  a{
    text-decoration: none;
  }

  &-image{
    display: block;
  }
  &-baseline{
    color: $brand-blue-xdark;
    font-size: 14px;
    font-weight: normal;
    display: block;
  }
  @media only screen and (max-device-width: $breakpoint-small){
    width: 75%;
  }
}

/* Buttons */
.button{
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 64px;
  line-height: 64px;
  font-family: $font-secondary;
  color: #fff;
  font-size: 24px;
  padding: 0 37.5px;
  background: $brand-green;
  text-decoration: none;
  border-radius: 64px;
  &:hover{
    background-color: $brand-orange;
  }
}
