/* Main text */
:root{
  font-family: $font-primary;
  font-size: 15px;
  line-height: 23px;
  color: $brand-grey;
}

.title-primary{
  font-size: 32px;
  line-height: 1;
  color: $brand-blue-xdark;
  font-weight: bold;
}
.title-secondary{
  font-size: 24px;
  line-height: 1;
  color: $brand-blue;
  font-weight: normal;
}
.title-ternary{
  font-size: 24px;
  line-height: 1.5;
  color: $brand-blue;
  font-weight: bold;
}
.boxed-text {
  background-color: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
  padding: 32px;
}
.card{
  position: relative;
  background-color: #fff;
  padding: 66px 17.5px 27.5px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.25);

  .card-picture{
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -50%);
  }
}
